<div class="header">
    <div class="header__score">Score: {{ game.score }}</div>
    <div class="header__game-over" *ngIf="game.isGameOver">Game Over</div>
    <button *ngIf="game.isGameOver" (click)="onRestart()">Restart</button>
</div>

<section class="board-wrapper">
    <div #board>
        <app-board [game]="game"></app-board>
    </div>
</section>

<app-shape-selector
    class="shape-selector"
    [game]="game"
    [boardPosition]="boardPosition"
    [mousePosition]="mousePosition"
></app-shape-selector>
