<div class="grid-container">
    <div></div> <!-- Placeholder div to push major grid to center -->
    <div class="major-grid">
        <ng-container *ngFor="let k of [1, 2, 3]">
            <ng-container
                *ngTemplateOutlet="majorRow"
            ></ng-container>
        </ng-container>
    </div>
</div>

<ng-template #minorCell let-i="i" let-j="j">
    <div class="minor-cell">
        <p>i={{ i }}</p>
        <p>j={{ j }}</p>
    </div>
</ng-template>

<ng-template #minorRow let-j="j">
    <div class="minor-row">
        <ng-container *ngFor="let i of [1, 2, 3]">
            <ng-container
                *ngTemplateOutlet="minorCell; context: { i: i, j: j }"
            ></ng-container>
        </ng-container>
    </div>
</ng-template>

<ng-template #majorCell>
    <div class="major-cell">
        <ng-container *ngFor="let j of [1, 2, 3]">
            <ng-container
                *ngTemplateOutlet="minorRow; context: { j: j }"
            ></ng-container>
        </ng-container>
    </div>
</ng-template>

<ng-template #majorRow>
    <div class="major-row">
        <ng-container *ngFor="let k of [1, 2, 3]">
            <ng-container
                *ngTemplateOutlet="majorCell; context: { k: k }"
            ></ng-container>
        </ng-container>
    </div>
</ng-template>
