<section class="shape-container">
    <div
        cdkDropList
        class="shape-wrapper"
        *ngFor="let shapeQueueItem of game.shapeQueue.items; index as i"
        [ngStyle]="shapeStyle"
    >
        <app-shape
            cdkDrag
            *ngIf="!!shapeQueueItem && shapeQueueItem.shape"
            [color]="getShapeColor(shapeQueueItem)"
            [shape]="shapeQueueItem.shape"
            [cdkDragDisabled]="!shapeQueueItem.canPlace"
            [cdkDragData]="{ shape: shapeQueueItem.shape, index: i }"
            (cdkDragMoved)="onDragMoved($event)"
            (cdkDragDropped)="onDragDropped($event)"
            (cdkDragStarted)="onDragStarted($event)"
        >
        </app-shape>
    </div>
</section>
