<section class="shape-container">
    <div
        cdkDropList
        *ngFor="let shape of shapeQueue.shapes; index as i"
        [ngStyle]="shapeStyle"
    >
        <app-shape
            cdkDrag
            color="blue"
            *ngIf="!!shape"
            [shape]="shape"
            [cdkDragData]="{ shape: shape, index: i }"
            (cdkDragMoved)="onDragMoved($event)"
            (cdkDragDropped)="onDragDropped($event)"
            (cdkDragStarted)="onDragStarted($event)"
        >
        </app-shape>
    </div>
</section>
