.shape-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 28vh;
}

.shape-wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.cdk-drag-placeholder {
    display: none;
}
